.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai

/.quarto/
**/*.quarto_ipynb
data/ 
*_backup.qmd 
/site_libs/ 
/vecteur_files/ 
/jointure_files/ 
/raster_files/ 
/index_files/ 
*_backup.qmd
*_avant_*.qmd
*_au_cas_ou.qmd
_quarto_avant_*.yml
_freeze/
